<nav>
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo right">Rotas Ng2</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/cursos" [queryParams]="{pagina:1}">Cursos</a></li>
      <!-- <li><a [routerLink]="['curso', idCurso.value]">Curso com Id</a></li> -->
      <li><a routerLink="/alunos" [queryParams]="{pagina:1}">Alunos</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
